.book-detail-container {
   margin: 2rem auto;
   max-width: 1200px;
   text-align: center;
   padding: 0 2rem;
   border: 2px solid grey;
   border-radius: 1rem;
   border-spacing: 0;
}

.book-detail-container img {
    width: 20%;
}