.App {
  text-align: center;
  background-color: #eeeeeeff;
  font-family: 'Raleway', sans-serif;
}

a.nav-link {
  color: black;
}

a.nav-link:hover {
  text-decoration: underline;
  color: black;
}

.headshotImg {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: bottom;
}

.about-img {
  display: flex;
  justify-content: space-evenly;
}